.loginS{
    background-color: #E7F3D6 !important;
    width: 19.8vw;
    min-width: 285px;
    height: 28.8vw;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px;
    border-radius: 4%;
}
.logInForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 18vw;
    min-height: 260px;
    padding: 6px !important;
}
.TextForm{
    border: 3px dotted red;
    border-radius: 30%;
    
}
.logInText{
    color: black;
    font-family: "Times New Roman", Times, serif !important;
}