.addFilePage {
    background-color: #E7F3D6;
    width: 65.8vw;
    min-width: 550px;
    height: 39.8vw;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    border-radius: 7%;
    color: black;
}
